{% extends 'home/base.html' %}
{% load static %}

<html>
  <head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% block title %}
    <title>GetHealthy with us!</title>
    {% endblock title %}
    {% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    {% endblock style %}
  </head>
  <body>
    {% block content %}
    <p class="list_of_suggestions"></p>
	<div class="wrapper suggestions">
		<table class="table">
			<tbody class="content">
			</tbody>
		</table>
	</div>
    <script type="text/javascript" src="{% static 'home/suggestions.js' %}"></script>
    {% endblock content %}
</body>
</html>