{% extends 'home/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">

    <!-- Bootstrap Javascript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>{{post.title}}</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

        #detail {
            padding: 7% 15%;

        }

        .detail-title {
            text-align: center;
            color: #154440;
        }

        .detail-image {
            width: 50%;
            display: block;
            margin-top: auto;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        .content,
        .detail-title {
            font-family: "Lato", sans-serif;
        }

        .detail-title,
        .detail-date {
            font-weight: bold;
        }

        .content {
            font-size: larger;
            text-align: justify;
            color: black;
        }
    </style>
    {% endblock css %}



</head>

<body>
    {% block content %}
    <script>
        $(document).ready(function() {
            $(".detail-title").hover(function(){
                        $(this).css("color", "aqua");
                    }, function() {
                        $(this).css("color", "#154440");
            });
        });
    </script>


    <section id="detail">
        {% if post.image %}
        <img src='{{post.image.url}}' class="detail-image" alt="{{post.title}}">
        {% endif %}
        <br>
        <h1 class="detail-title">{{post.title}}</h1>
        <br>
        <h6 class="detail-date">{{post.date}}</h6>
        <br>
        <div class="content">
            {% autoescape off %}
            {{post.content | safe}}
            {% endautoescape %}
        </div>


        {% if user.is_authenticated %}
            <h3>Leave a Comment</h3>

            {% load crispy_forms_tags %}

            <form method="post" action="">
                <fieldset>
                    {% csrf_token %}
                    {{ comment_form | crispy}}

                    <br>
                    <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                </fieldset>
            </form>
            <br>
            
        {% else %}
        <h4>You are not logged in.</h4><br>
        <h5>Log in <a href="/login/">here.</a></h5>
        <br>

        {% endif %}

        <h3>{{comments.count}} Comments</h3>

        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
            <p class="font-weight-bold">
                {{ comment.user.username }}
                <span class=" text-muted font-weight-normal">
                    {{ comment.published }}
                </span>
            </p>
            {{ comment.comment | linebreaks }}
        </div>
        {% endfor %}


    </section>

    {% endblock content %}
</body>

</html>