@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body{
  font-family: 'Lato', sans-serif;
}

p{
  font-family: 'Lato', sans-serif;
  font-size: 1.3vw;
  color:#f2f2f2;
}

.header{
  position: sticky;
  top: 0;
  right: 0;
  background-color: rgba(66, 195, 182);
  width: 100%;
  overflow: hidden;
}

.header a{
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 15px 17px;
  font-size: 1.3vw;
}

.header a:hover{
  background-color: rgba(51, 114, 109);
}

.footer{
  position: relative;
  bottom: 0;
  right: 0;   
  background-color: rgba(51, 114, 109); 
  width: 100%;
  overflow: hidden;
}

.footer a{
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  font-size: 1.3vw;
}

.column{
  float: left;
  text-align: left;
  width: 50%;
  padding: 15px;
}