{% extends 'home/base.html' %}
{% load static %}
<!-- <!DOCTYPE html>
<html>
<head> -->
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}
    <title>Book a Schedule</title>
  	{% endblock title %}

	{% block style %}
	<style type="text/css">
		/* Html reset and font customizing */

		header, body, html {
			font-family: 'Lato', sans-serif !important;
		    margin: 0;
		    padding: 0;
		}

		/* Text */

		h1, h2, h3, h4, .description>p {
			color: #33726D !important;
			font-weight: 700;
		}

		/* Description */

		.description {
			margin-bottom: 50px;
		}

		.description p {
			font-size: 18px;
		}

		.appointment {
			margin-top: -10px;
			margin-bottom: 30px;
			text-decoration: underline;
			color: #33726D !important;
		}

		/* Search */

		#search {
			width: 22%;
			height: 35px;
		  	padding: 12px 10px;
		  	margin: 10px 0 30px;
		  	display: inline-block;
		  	border: 1.5px solid #33726D;
		  	border-radius: 5px;
		  	box-sizing: border-box;
		}

		#search:focus {
			outline: none;
			-webkit-box-shadow: 0 0 12px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
			-moz-box-shadow:    0 0 12px #ccc;  /* Firefox 3.5 - 3.6 */
		  	box-shadow:         0 0 12px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
		}

		.lookupbox img {
			margin-top: -6px;
		}

		/* Choices */

		.card-header {
			background-color: #fff !important;
		}

		.choices, .card-header {
			display: flex;
		}

		.card-header a {
			display: flex;
		}

		.card-header a.time {
			flex: 3;
			margin-left: 10px;
			text-decoration: none;
			font-weight: 700;
		}

		.card-header a.doctor {
			flex: 1;
			text-decoration: none;
			color: #154440;
			font-weight: 700;
		}

		.card-header a.doctor:hover {
			text-decoration: underline;
		}

		.card-body a {
			position: relative;
			left: 10px;
		}

		.btn-genoa {
		  color: #fff;
		  background-color: #33726D;
		  border-color: #33726D;
		}

		.btn-genoa:hover {
		  color: #fff;
		  background-color: #1e7057;
		  border-color: #1c5a48;
		}

		.btn-genoa:focus, .btn-genoa.focus {
		  color: #fff;
		  background-color: #1e7057;
		  border-color: #1c5a48	;
		  /*box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);*/
		}

		.not-available {
			text-align: center;
			line-height: 45px;
			height: 50px;
			background-color: #eaeaea !important;
			font-weight: 700;
		}

		.modal-title {
			width: auto;
			height: auto;
			font-size: 18px;
			text-align: center;
		}

		.modal-body form{
			margin: -50px 15px 30px;

		}

		.modal-body .data {
			height: 45px;
			width: 100%;
			margin: 60px 0;
		}

		.modal-body .title {
			font-size: 30px;
			font-weight: 700;
			color: #33726D;
		}

		.modal-body .data label{
			font-size: 20px;
		}

		.modal-body .data input{
			height:80%;
			width: 100%;
			padding-left: 10px;
			font-size: 17px;
			border: 1px solid black;
			border-radius: 5px;
		}

		.modal-body button{
			width: 100%;
			margin-bottom: 20px;
		}

	</style>

	<link rel="stylesheet" type="text/css" href="{% static 'Schedule/css/bookingpage.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
	{% endblock %}
	
<!-- </head>
<body> -->
	{% block content %}
	<div class="container mt-4 mb-5">

		<!-- Page Description -->
		<div class="description">
			<h1>BOOK A SCHEDULE</h1>
			<p>Having a conversation with doctor helps you to overcome what has been bothering you about your health. Consult your problem here with our doctors.</p>
		</div>

		{% if request.user.is_authenticated %}
		<div class="appointment"><a href="my_appointments/"><i>Check your appointments here</i></a></div>
		{% endif %}

		<div class="lookupbox">
			<img src="https://img.icons8.com/color/32/000000/doctor-male--v1.png"/>
			<input id="search" placeholder="search doctors">
		</div>

		<!-- Booking Section -->
		<div class="accordion" id="booking-option">
			{% for day, hours in schedule.items %}
				<h4>{{ day }}</h4>
				<div class="my-3">
				{% for eachHour in hours %}
					<div class="card border-right-0 border-left-0 border-bottom-0">
					    <div class="card-header" id="heading_{{ eachHour.id }}">
				          	<a class="stretched-link time" data-toggle="collapse" data-parent="#booking-option" href="#collapse_{{ eachHour.id }}">
				          		{{ eachHour.hour }}
				          	</a>
				          	<a href="/doctor/{{ eachHour.day.doctor.id }}" class="doctor">
				          		{{ eachHour.day.doctor.name }}
				          	</a>
						</div>
						<div id="collapse_{{ eachHour.id }}" class="collapse" aria-labelledby="heading_{{ eachHour.id }}" data-parent="#booking-option">
					      	<div class="card-body">

					        	<a type="button" class="btn btn-genoa" href="booking_form/{{ eachHour.id }}">Book</a>

					      	</div>
					    </div>
					</div>
				{% empty %}
					<div class="card not-available">
						Sorry, there is no schedule available on this day.
					</div>
				{% endfor %}
				</div>
			{% endfor %}
		</div>


	</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'Schedule/js/scripts.js' %}"></script>
{% endblock %}
<!-- </body>
</html> -->