{% extends 'home/base.html' %}
{% load static %}



	{% block style %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap" rel="stylesheet">
	{% endblock style %}

	{% block title %}
	<title>My Appointments</title>
	{% endblock title %}

	{% block css %}
	<style>
		.container {
			margin-top: 30px;
		}

		#list-of-content li {
			margin: 25px auto;
			list-style: none;
		}

		.content {
			width: 75%;
			/*background-color: rgba(66, 195, 182);*/
			margin: 40px auto;
			padding: 15px;
			box-sizing: border-box;
			border-radius: 25px;
			box-shadow: 0 0 10px 2px #8a795d;
			color: #33726D;
		}

		#desc {
			height: 100px;
			overflow: hidden;
			display: block;
		}

		#empty-appointment {
			width: 100%;
			height: 200px ;
			margin: 50px 0 50px -20px;
			text-align: center;
		}

		.container>a {
			position: relative;
			left: 180px;
			bottom: 30px;
		}
	</style>
	{% endblock %}


	{% block content %}
	<div class="container">
		<h2 class="text-center" style="color: #33726D;">My Appointments</h2>
		<ul id="list-of-content">
			{% for schedule in myappointments %}
			<li>
				<div class="detail content" id="detail">
					<h5><b>{{ schedule.time.day.name }}</b></h5>
					<div id="desc">
						<p>Appointment with <b> Dr. {{ schedule.doctor.name }}</b></p>
						<p>Time:  <b>{{ schedule.time.hour }}</b></p>
					</div>
				</div>
			</li>
			{% empty %}
			<div id="empty-appointment">
				<h2>You have not made any appointments.</h2>
				<h4><a href=".."><i>Book a schedule now!</i></a></h4>
			</div>
			{% endfor %}
		</ul> 		
	</div>

	{% if myappointments %}

	<div class="container">
		<a href=".." id="back-arrow">
			<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
	  			<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
			</svg>
			back
		</a>
	</div>

	{% endif %}

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
	{% endblock %}